#login {
  margin-top: 120px;
}

h2{
	margin:20px;
}

.active{
	background-color: red;
}

.His-msg-card{
	margin-bottom: 5px;
}
.personnage{
	width: 30px;
	height: 30px;
}

#sidebar{
	height: 800px;
}

#sidebar .navbar-nav>li{
	margin-top: 2em;
	margin-bottom: 1em;
	list-style: none;
}

#sidebar .navbar-nav>li>a{
	color: white;
	font-weight: bold;
	margin-left: 2.5em;
}



.navbar-nav>li>ul>li>a{
	color: white;
	font-size:14px;
	display: block;
	padding: 4px 10px;
}


